div.asset-header {
  margin-bottom: 6px;
}

span.asset-title {
  font-size: 20px;
}

span.asset-added {
  float: right;
}

div.asset-container {
  width: 200px;
  float: right;
}

form#add-annotation {
  margin-bottom: 0;
}

input.add-annotation {
  width: 666px;
}

div#annotations {
  width: 720px;
  height: 200px;
  overflow-y: scroll;
}

div.annotation {
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 6px 0 6px 0;
}

div.annotation:hover {
  background-color: #CCC !important;
  cursor: pointer;
}

div.annotation:first-child {
  margin-top: 0;
}

div.annotation span {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.annotation-time {
  width: 5%;
}

span.annotation-author {
  width: 8%;
}

span.annotation-text {
  width: 72%;
}

span.annotation-created {
  width: 8%;
}

span.annotation-delete {
  width: 3%;
}

span.annotation-spacer {
  width: 1%;
}

a.playlist-item {
  display: block;
  width: 50px;
}

a.playlist-item.playing {
  font-weight: bold;
}

a.playlist-item.paused {
  font-weight: bold;
  font-style: italic;
}
